<ion-header>
    <ion-navbar color="theme">
        <ion-title class="border-left-white">资产绑定</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content #grantingBind_content class="bg-content">
    <!-- <ion-card>
        <ion-card-content>
            <ion-card-title style="padding:0px;margin:0px;">
                {{asset.assetName}}
            </ion-card-title>
            <p>规格型号：{{asset.specModel}}</p>
        </ion-card-content>
    </ion-card> -->

    <ion-list style="background-color:white;box-shadow: 2px 2px 5px #c9c5c5;">
        <ion-list-header style="border-bottom:1px solid rgb(226, 221, 221)">
            <h2 class="bold">领用人信息</h2>
        </ion-list-header>
        <ion-item>
            <h2> 领用人：{{receivePerson}}</h2>
            <i item-end (click)="handleBindInput()" class="qk-icon iconfont icon-list3"></i>
            <i item-end (click)="handleBindScan()" class="qk-icon iconfont icon-scan"></i>
        </ion-item>
    </ion-list>
    <ion-list  style="background-color:white;margin-top:10%;box-shadow: 2px 2px 5px #c9c5c5;">
        <ion-list-header  style="border-bottom:1px solid rgb(226, 221, 221)">
            <h2 class="bold">已选资产</h2>
        </ion-list-header>
            <ion-item *ngFor="let asset of cvtNonReceives">
                <ion-label>
                    <h2>{{asset.assetName}}</h2>
                    <p>规格型号：{{asset.specModel}}</p>
                </ion-label>
                <ion-icon item-end name="md-close" (click)="handleRemove(asset)"></ion-icon>
            </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-buttons *ngIf="receivePerson==''">
        <button ion-button full color="danger" (click)="handleSignatureNoManager()">
            签名确认
        </button>
    </ion-buttons>
    <ion-buttons *ngIf="receivePerson!=''">
        <button ion-button full (click)="handleSignature()"  color="theme">
            签名确认
        </button>
    </ion-buttons>
</ion-footer>

<ion-menu [content]="grantingBind_content" id="grantingSelectPerson" side="right">
    <ion-header>
        <ion-navbar color="theme">
            <ion-toolbar>
                <ion-searchbar placeholder="搜索" (ionInput)="filterItems($event)"></ion-searchbar>
            </ion-toolbar>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
                <ion-item *ngFor="let item of items" (click)="close(item)">
                    {{ item.userName}} / {{item.workerNumber}}
                </ion-item>
            <ion-item *ngIf="items!=null&&items.length==0">
                没有搜索到该结果
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
