page-granting-bind {
    #th {
        font-size: 2rem;
        color: #9A9A9A;
        font-weight: 600;
    }
    #td {
        font-size: 1.8rem;
        // text-align: right;
        font-weight: 600;
        padding-right: 2%;
        text-align: left;
    }
    .bold{
        font-weight: bold;
    }

}
