page-process-detail {
    ion-list{
        padding-top:20px;
        box-shadow: 2px 2px 5px #c9c5c5;
    }
    .item-head{
        font-size: $font-size-item-head;
        color: #9A9A9A;
        font-weight: bold;
    }
    
    .item-body{
        font-size: $font-size-item-body;
        color:#000;
        padding-right: 2%;
        text-align: right;
        word-break:keep-all;
        white-space:nowrap; 
    }
    .default{
        color: #9A9A9A;
    }
}
