<!--
  Generated template for the ProcessDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="title">
    <ion-title class="border-left-white">{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="handleApprove()" class="btn-submit" color="light">
        审批
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="bg-content">
  <div *ngIf="eventType=='转产发放通知'">
    <ion-list>
      <ion-item-divider>
        当前步骤：
      </ion-item-divider>
      <ion-item>
        <ion-label class="item-head">发料单号：</ion-label>
        <p class="item-body" item-end>{{cvtNonNotice.workOrderNumber}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="item-head">制单日期：</ion-label>
        <p class="item-body" item-end>{{cvtNonNotice.createTime}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">用料单位：</ion-label>
        <p class="item-body" item-end>{{cvtNonNotice.orgName}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">领料人：</ion-label>
        <p class="item-body" item-end>{{cvtNonNotice.recipientName}}</p>
      </ion-item>


      <ion-item>
        <ion-label class="item-head">计划文号：</ion-label>
        <p class="item-body" item-end>{{cvtNonNotice.docNumber}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">金额合计：</ion-label>
        <p class="item-body" item-end>待商定</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider>
        资产信息列表
      </ion-item-divider>
      <ion-item *ngFor="let item of cvtNonNoticeSubList;let i=index">
        <ion-label>
          <h2>{{item.assetName}}[{{item.specModel}}]</h2>
          <p>数量：{{item.sentQuantity}}</p>
        </ion-label>
        <button ion-button item-end (click)="handleDetail(item)">详情</button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="eventType=='资产调拨'">
    <ion-list>
      <ion-item-divider>
        当前步骤：
      </ion-item-divider>
      <ion-item>
        <ion-label class="item-head">申请单号：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appNo}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="item-head">申请单位：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appOrg}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">申请人：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appPerson}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">申请日期：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appDate}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">调出单位：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appOutOrg}}</p>
      </ion-item>

      <ion-item>
        <ion-label class="item-head">调入单位：</ion-label>
        <p class="item-body" item-end>{{allocateBill.appInOrg}}</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider>
        资产信息列表
      </ion-item-divider>
      <ion-item *ngFor="let item of assetList;let i=index">
        <ion-label>
          <h2 *ngIf="item.selfNumber==''">{{item.assetName}} </h2>
          <h2 *ngIf="item.selfNumber!=''">{{item.assetName}} [{{item.selfNumber}}] </h2>
          <p>资产编码：{{item.assetCode}} / 规格型号:{{item.specModel}}</p>
        </ion-label>
        <button ion-button item-end (click)="handleDetail(item)">详情</button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="eventType=='资产闲置认定'">
      <ion-list>
        <ion-item-divider>
          当前步骤：
        </ion-item-divider>
        <ion-item>
          <ion-label class="item-head">申请标题：</ion-label>
          <p class="item-body" item-end>{{idleBill.appTitle}}</p>
        </ion-item>
        <ion-item>
          <ion-label class="item-head">申请单号：</ion-label>
          <p class="item-body" item-end>{{idleBill.appNo}}</p>
        </ion-item>
  
        <ion-item>
          <ion-label class="item-head">申请人：</ion-label>
          <p class="item-body" item-end>{{idleBill.appPerson}}</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">申请单位：</ion-label>
            <p class="item-body" item-end>{{idleBill.appOrg}}</p>
          </ion-item>
  
        <ion-item>
          <ion-label class="item-head">申请日期：</ion-label>
          <p class="item-body" item-end>{{idleBill.appDate}}</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item-divider>
          设备类资产
        </ion-item-divider>
        <ion-item *ngFor="let item of assetList;let i=index">
          <ion-label>
            <h2 *ngIf="item.selfNumber==''">{{item.assetName}} </h2>
            <h2 *ngIf="item.selfNumber!=''">{{item.assetName}} [{{item.selfNumber}}] </h2>
            <p>资产编码：{{item.assetCode}} / 规格型号:{{item.specModel}}</p>
          </ion-label>
          <button ion-button item-end (click)="handleDetail(item)">详情</button>
        </ion-item>
      </ion-list>
    </div>

</ion-content>