<!--
  Generated template for the MyAssetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="title">
        <ion-title id="title">我的资产</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="doSearch()">
        <ion-icon name="search"></ion-icon> </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content id="content">
    <div id="list_content">
        <!-- 搜索框  -->
        <ion-toolbar no-border-top id="searchbar" style="display:none;padding:0xp;margin:0px;">
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-toolbar>
        <ion-list id="list" *ngIf="isHaveData==true">
            <!-- <ion-item-sliding> -->
            <ion-item *ngFor="let item of dataTable">
                <ion-label id="list_label">
                    <p id="list-item-head">{{item.assetName}} [{{item.selfNumber}}] </p>
                    <p id="list-item-bottom">资产编码：{{item.assetCode}} / 规格型号:{{item.specModel}}</p>
                </ion-label>
                <img *ngIf="item.rfid==''||item.rfid==null" item-end src="./assets/imgs/RFID_1.png" (click)="rfid()" />
     <img *ngIf="item.rfid!='' && item.rfid!=null" item-end src="./assets/imgs/RFID_2.png" (click)="rfid()" />
                <img *ngIf="item.twoDimensionCode==''||item.twoDimensionCode==null" item-end src="./assets/imgs/two_1.png" (click)="bind(item,false)" />
                <img *ngIf="item.twoDimensionCode!='' && item.twoDimensionCode!=null" item-end src="./assets/imgs/two_blue.png" (click)="reBind(item)" />
                <img item-end src="./assets/imgs/more.png" (click)="scan(item)" />
                <!-- <ion-item-options>
                        <button ion-button (click)="scan(item)">查看</button>
                    </ion-item-options> -->
            </ion-item>
            <!-- </ion-item-sliding> -->

            <!-- 底部刷新  -->
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="80px" style="background-color:transparent">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="数据加载中...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-list>
        <div id="noData" *ngIf="isHaveData==false">
            <img src="./assets/imgs/noData.png">
            <h2>没有资产数据......</h2>
        </div>
    </div>
</ion-content>