<ion-header>
  <ion-navbar color="theme">
    <ion-title class="border-left-white">选择资产项</ion-title>
    
    <ion-buttons right>
      <button *ngIf="isMultiple" ion-button (click)="handleChangeIsMultiple()" class="btn-submit" color="light">
          单选
      </button>
      <button *ngIf="!isMultiple" ion-button (click)="handleChangeIsMultiple()" class="btn-submit" color="light">
          批量处理
      </button>
    </ion-buttons>
          <ion-buttons right style="margin-left:5px;">
                <button ion-button icon-only (click)="doSearch()">
                    <ion-icon name="search"></ion-icon>
                </button>
          </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content class="full" class="bg-content">
  <!-- 搜索框  -->
  <ion-toolbar color="theme" [hidden]="isHiddenSearch">
      <ion-searchbar placeholder="搜索" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list *ngIf="dataTable.length!=null&&dataTable.length>0">
      <ion-item *ngFor="let item of dataTable;let i=index">
          <ion-checkbox *ngIf="isMultiple" #check [(ngModel)]="item.isChecked" (ionChange)="handleCheckBox(item,check)"></ion-checkbox>
          <ion-label  (click)="handleItemClick(item)">
              <h2 *ngIf="item.selfNumber==''">{{item.assetName}} </h2>
              <h2 *ngIf="item.selfNumber!=''">{{item.assetName}} [{{item.selfNumber}}] </h2>
              <h4 class="sub-title">资产编码：{{item.assetCode}} / 规格型号:{{item.specModel}}</h4>
          </ion-label>
      </ion-item>

      <!-- 底部刷新  -->
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="80px" style="background-color:transparent">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="数据加载中...">
          </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-list>
  <div class="no-data center" *ngIf="dataTable.length==null||dataTable.length==0">
      <img class="no-data-img" src="./assets/imgs/cry.png">
      <h2>没有资产数据</h2>
  </div>
</ion-content>


<ion-footer *ngIf="isMultiple">
    <ion-buttons start>
        <ion-row>
                <ion-col>
                    <button ion-button block (click)="handleSubmit()"  color="theme">
                        确定
                    </button>
                </ion-col>
            </ion-row>
    </ion-buttons>
</ion-footer>
