page-select-assets {
    .full{
        height: 100%;
        width: 100%;
    }
    ion-list{
        padding-top:20px;
    }
    .sub-title{
        font-weight: 400;
        margin-top: 3px;
        color:#9A9A9A;
    }
    .no-data{
        text-align: center;
        height:300px;
        width: 300px;
    }
    .no-data-img{
        height: 120px;
        width:120px;
    }
    .center{
        position: absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        margin:auto;
    }

}
