page-my-asset-message {
    .full{
        height: 100%;
        width: 100%;
    }
    ion-list{
        padding-top:20px;
    }
    .item-head{
        font-size: 2rem;
        color: #9A9A9A;
        font-weight: 600;
    }
    
    .item-body{
        font-size: 2rem;
        font-weight: 600;
        color:#000;
        padding-right: 2%;
        text-align: right;
    }
    .default{
        color: #9A9A9A;
    }
    .input{
        border-style: none;
        background-color: #fff;
        width: 60%;
    }

    .img-content{
        margin-top: 15px;
        border-radius:10px;
        text-align: center;
        width:100px;
        height:100px;
    }
    .imgs-add {
        margin-top: 15px;
    }

    
}