page-my-asset-message {
    .full{
        height: 100%;
        width: 100%;
    }
    ion-list{
        padding-top:20px;
        // box-shadow: 2px 2px 5px #c9c5c5;
    }

    .item-head{
        font-size: $font-size-item-head;
        color: #9A9A9A;
        font-weight:bold;
    }
    
    .item-body{
        font-size: $font-size-item-body;
        color:#000;
        padding-right: 2%;
        text-align: right;
    }
    .default{
        color: #9A9A9A;
    }
    
    
    .input{
        border-style: none;
        background-color: #fff;
        width: 60%;
    }

    .img-content{
        margin-top: 15px;
        border-radius:10px;
        text-align: center;
        width:100px;
        height:100px;
    }
    .imgs-item{
        text-align: center;
        height: 100px;
    }
    .imgs-add {
        margin-top: 15px;
    }

    
}