<ion-header>
    <ion-navbar color="theme">
        <ion-title class="border-left-white">资产信息</ion-title>
        <ion-buttons right>
            <button *ngIf="handleType=='完善资产信息'" ion-button (click)="handleSubmit()" class="btn-submit" color="light">
                {{handleType}}
            </button>
            <button *ngIf="handleType=='提交'" ion-button (click)="handleBack()" class="btn-submit" color="light">
                    返回
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="full bg-content">
    <ion-list *ngIf="handleType=='提交'">
        <ion-item>
            <ion-label class="item-head">资产名称：</ion-label>
            <p item-end class="item-body" >{{fixedAsset.assetName}}</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">车牌井号：</ion-label>
            <input item-end class="item-body input" type="text" [(ngModel)]="fixedAsset.licenseplatWellno" placeholder="请输入">
        </ion-item>
        <ion-item>
            <ion-label class="item-head">自编号：</ion-label>
            <input item-end class="item-body input" type="text" [(ngModel)]="fixedAsset.selfNumber" placeholder="请输入">
        </ion-item>
        <ion-item>
            <ion-label class="item-head">出厂编号：</ion-label>
            <input item-end class="item-body input" type="text" [(ngModel)]="fixedAsset.serialNumber" placeholder="请输入">
        </ion-item>


        <ion-item>
            <ion-label class="item-head">出厂日期：</ion-label>
            <p class="item-body default" *ngIf="fixedAsset.manufactureDate=='NaN-NaN-NaN'" item-end>选择日期</p>
            <ion-datetime class="item-body" displayFormat="YYYY-MM-DD" max="{{dateNow}}" doneText="确定" cancelText="取消" [(ngModel)]="fixedAsset.manufactureDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">安装地点：</ion-label>
            <input item-end class="item-body input" type="text" [(ngModel)]="fixedAsset.installLocation" placeholder="请输入">
        </ion-item>
        <ion-item>
                <p class="item-head">上传图片({{photoBase64s.length}}/3)：</p>
                <ion-row>
                    <ion-col col-4 class="img-content" *ngFor="let item of photoBase64s;let i=index">
                        <img class="imgs-item" [src]="item" (click)="isDeleteImg(i)" />
                    </ion-col>
                    <ion-col col-4 class="img-content" *ngIf="photoBase64s.length<3" style="border: 1px dashed #9C9C9C;">
                        <img class="imgs-add" (click)="add()" src="./assets/imgs/add.png" />
                    </ion-col>
                </ion-row>
            </ion-item>
    </ion-list>
    <ion-list *ngIf="handleType=='完善资产信息'">
        <ion-item>
            <ion-label class="item-head">资产名称：</ion-label>
            <p class="item-body" item-end>{{fixedAsset.assetName}}</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">资产编码：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.assetCode!=null&&fixedAsset.assetCode!=''" item-end>{{fixedAsset.assetCode}}</p>
            <p class="item-body" *ngIf="fixedAsset.assetCode==null||fixedAsset.assetCode==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">规格型号：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.specModel!=null&&fixedAsset.specModel!=''" item-end>{{fixedAsset.specModel}}</p>
            <p class="item-body" *ngIf="fixedAsset.specModel==null||fixedAsset.specModel==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">自编码：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.selfNumber!=null&&fixedAsset.selfNumber!=''" item-end>{{fixedAsset.selfNumber}}</p>
            <p class="item-body" *ngIf="fixedAsset.selfNumber==null||fixedAsset.selfNumber==''" item-end>无</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">车牌井号：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.licenseplatWellno!=null&&fixedAsset.licenseplatWellno!=''" item-end>{{fixedAsset.licenseplatWellno}}</p>
            <p class="item-body" *ngIf="fixedAsset.licenseplatWellno==null||fixedAsset.licenseplatWellno==''" item-end>无</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">所属单位：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.wfoAddress!=null&&fixedAsset.wfoAddress!=''" item-end>{{fixedAsset.wfoAddress}}</p>
            <p class="item-body" *ngIf="fixedAsset.wfoAddress==null||fixedAsset.wfoAddress==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">使用（保管）人：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.custodian!=null&&fixedAsset.custodian!=''" item-end>{{fixedAsset.custodian}}</p>
            <p class="item-body" *ngIf="fixedAsset.custodian==null||fixedAsset.custodian==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">技术状况：</ion-label>
            <p class="item-body" *ngIf="techStatusDesc!=null&&techStatusDesc!=''" item-end>{{techStatusDesc}}</p>
            <p class="item-body" *ngIf="techStatusDesc==null||techStatusDesc==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">使用状况：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.useStateDesc!=null&&fixedAsset.useStateDesc!=''" item-end>{{fixedAsset.useStateDesc}}</p>
            <p class="item-body" *ngIf="fixedAsset.useStateDesc==null||fixedAsset.useStateDesc==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">生产厂家：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.manufacturer!=null&&fixedAsset.manufacturer!=''" item-end>{{fixedAsset.manufacturer}}</p>
            <p class="item-body" *ngIf="fixedAsset.manufacturer==null||fixedAsset.manufacturer==''" item-end>无</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">出厂编号：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.serialNumber!=null&&fixedAsset.serialNumber!=''" item-end>{{fixedAsset.serialNumber}}</p>
            <p class="item-body" *ngIf="fixedAsset.serialNumber==null||fixedAsset.serialNumber==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <ion-label class="item-head">出厂日期：</ion-label>
            <p *ngIf="fixedAsset.manufactureDate!='NaN-NaN-NaN'" class="item-body" item-end>{{fixedAsset.manufactureDate}}</p>
            <p *ngIf="fixedAsset.manufactureDate=='NaN-NaN-NaN'" class="item-body" item-end>无</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">资产原值（元）：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.originalValue!=null&&fixedAsset.originalValue!=''" item-end>￥{{fixedAsset.originalValue}}</p>
            <p class="item-body" *ngIf="fixedAsset.originalValue==null||fixedAsset.originalValue==''" item-end>无</p>
        </ion-item>

        <ion-item>
            <ion-label class="item-head">资产净值（元）：</ion-label>
            <p class="item-body" *ngIf="fixedAsset.netWorth!=null&&fixedAsset.netWorth!=''" item-end>￥{{fixedAsset.netWorth}}</p>
            <p class="item-body" *ngIf="fixedAsset.netWorth==null||fixedAsset.netWorth==''" item-end>无</p>
        </ion-item>
        <ion-item>
            <p class="item-head">资产图片({{photoBase64s.length}}/3)：</p>
            <ion-row>
                <ion-col col-4 class="img-content" *ngFor="let item of photoBase64s;let i=index">
                    <img class="imgs-item" [src]="item" />
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    
</ion-content>
<ion-footer>
    <ion-buttons start>
        <ion-row *ngIf="handleType=='完善资产信息'">
            <ion-col col-6>
                <button ion-button block (click)="handleIdle()" color="theme">
                    资产闲置
                </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block (click)="handleScrap()" color="theme">
                    资产报废
                </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="handleType=='提交'">
                <ion-col>
                    <button ion-button block (click)="handleSubmit()"  color="theme">
                        {{handleType}}
                    </button>
                </ion-col>
            </ion-row>
    </ion-buttons>
</ion-footer>