page-popup {
    .border-radius {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #ddd;
    }
    #div_content {
        text-align: center;
        height: 100%;
    }
    #message {
        margin-top: 40%;
    }
    #prompt {
        position: absolute;
        bottom: 10%;
    }
}