page-popup {
    #div_content {
        text-align: center;
        height: 100%;
    }
    #message {
        margin-top: 40%;
    }
    #prompt {
        position: absolute;
        bottom: 10%;
    }
}