page-popup {
    .full{
        width: 100;
        height: 100%;
    }
    .center{
        text-align: center;
    }
    .margin-top {
        margin-top: 40%;
    }
    .margin{
        margin:30px;
    }
    .bottom {
        position: absolute;
        bottom: 10%;
    }
}