<!-- <ion-content padding class="cover background">
    <div style="height:10%">
        <img src="./assets/imgs/title.png" style="height:100%">
        <p class="account">
            <ion-icon name="home"></ion-icon> {{wFOAddress}}</p>
        <p class="account">
            <ion-icon name="person"></ion-icon> {{userName}} </p>
    </div>

    <div class="grid-content">
        <ion-grid>
            <ion-row>
                <ion-col class="cover" col-4>
                    <div class="green cover opacity" (click)="navToMyAsset()">
                        <img class="icon-size-large center" src="./assets/imgs/home-mine.png">
                        <h5 class="item-title">我的资产</h5>
                    </div>
                </ion-col>
                <ion-col class="cover" col-4>
                    <div class="yellow cover opacity" (click)="navToCvt()">
                            <div class="icon-content-size center">
                                    <img class="icon-size  center" src="./assets/imgs/home-cvt.png">
                                    <ion-badge class="right-top" color="danger" *ngIf="listConvert!=null&&listGranting!=null&&(listConvert.length+listGranting.length)>0">{{listConvert.length+listGranting.length}}</ion-badge>
                                </div>
                        <h5 class="item-title" *ngIf="isGranting==false">资产领用</h5>
                        <h5 class="item-title" *ngIf="isGranting==true">资产发放</h5>

                    </div>

                </ion-col>
                <ion-col class="cover" col-4>
                    <div class="image1 image-set cover">

                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="cover" col-4>
                    <div class="image2 image-set cover">

                    </div>
                </ion-col>
                <ion-col class="cover" col-4>
                    <div class="deep-blue cover opacity" (click)="navToInv()">
                        <div class="icon-content-size center">
                            <img class="icon-size  center" src="./assets/imgs/home-inv.png">
                            <ion-badge class="right-top" color="danger" *ngIf="badgeValueInv!=null&&badgeValueInv!=0">{{badgeValueInv}}</ion-badge>
                        </div>
                        <h5 class="item-title">资产盘点
                            <sup>
                                
                            </sup>
                        </h5>

                    </div>
                </ion-col>
                <ion-col class="cover" col-2>
                    <div class="orange cover opacity" (click)="download()">
                        <img class="icon-size-petty center" src="./assets/imgs/home-download.png">
                        <h6 class="item-title-petty">数据下载</h6>

                    </div>
                </ion-col>
                <ion-col class="cover" col-2>
                    <div class="purple cover opacity" (click)="navToSynchro()">
                        <img class="icon-size-petty center" src="./assets/imgs/home-upload.png">
                        <h6 class="item-title-petty">数据上传</h6>

                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="cover" col-4>
                    <div class="blue cover opacity" (click)="navToProcess()">
                        <img class="icon-size center" src="./assets/imgs/home-process.png">
                        <h5 class="item-title">流程审核</h5>

                    </div>
                </ion-col>
                <ion-col class="cover" col-4>
                    <div class="image3 image-set cover"></div>
                </ion-col>
                <ion-col class="cover" col-2>
                    <div class="light-blue cover opacity" (click)="userMessage()">
                        <img class="icon-size-petty center" src="./assets/imgs/home-user.png">
                        <h6 class="item-title-petty">用户信息</h6>

                    </div>
                </ion-col>
                <ion-col class="cover" col-2>
                    <div class="gray cover opacity" (click)="exit()">
                        <img class="icon-size-petty center" src="./assets/imgs/home-exit.png">
                        <h6 class="item-title-petty">退出</h6>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content> -->



<!-- 手机端 -->
<ion-header>
    <ion-navbar color="title">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>资产辅助管理系统</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="download()">
                <ion-icon name="cloud-download" style="font-size:40px"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-content" #content>
    <!-- <button ion-button (click)="test()">测试</button> -->
    <!-- <button ion-button block (click)="test()">Toggle Menu</button> -->
    <!-- <button ion-button (click)="test11()">目前的结果</button> -->

    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col col-3 class="center" (click)="navToMyAsset()">

                    <img src="./assets/imgs/myAsset.png" />
                    <h2 style="margin-top:10px;">我的资产</h2>
                </ion-col>
                <ion-col col-3 class="center" (click)="navToProcess()">
                    <img src="./assets/imgs/process.png" />
                    <h2 style="margin-top:10px;">流程审批
                        <!-- <sup>
                            <ion-badge color="danger" *ngIf="badgeValuePro!=null&&badgeValuePro!=0">{{badgeValuePro}}</ion-badge>
                        </sup> -->
                    </h2>
                    <ion-badge color="danger" *ngIf="badgeValuePro!=null&&badgeValuePro!=0">{{badgeValuePro}}</ion-badge>
                </ion-col>
                <ion-col col-3 class="center" (click)="navToCvt()">
                    <img src="./assets/imgs/cvt.png" />
                    <h2 style="margin-top:10px;">资产领用
                        <sup>
                            <ion-badge color="danger" *ngIf="listConvert!=null&&listGranting!=null&&(listConvert.length+listGranting.length)>0">{{listConvert.length+listGranting.length}}</ion-badge>
                        </sup>
                    </h2>
                </ion-col>
                <ion-col col-3 class="center" (click)="navToInv()">
                    <img src="./assets/imgs/inv.png" />
                    <h2 style="margin-top:10px;">资产盘点</h2>
                    <ion-badge class="badge" color="danger" *ngIf="badgeValueInv!=null&&badgeValueInv!=0">{{badgeValueInv}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <!-- <ion-card *ngIf="isSynchro" (click)="handleCvtSynchro()">
            <ion-card-content>
                <ion-card-title>
                    待完成项
                </ion-card-title>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="./assets/imgs/synchro1.png">
                    </ion-thumbnail>
                    <h1 style="padding:3px;">同步转产数据
                    </h1>
                </ion-item>
            </ion-card-content>
        </ion-card> -->
    <div *ngIf="listGranting!=null&&listGranting.length!=0">
        <ion-card (click)="navTo(item)" *ngFor="let item of listGranting" >
            <ion-card-content>
                <ion-card-title>
                    待完成项
                </ion-card-title>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="./assets/imgs/cvt.png">
                    </ion-thumbnail>
                    <h1 style="padding:3px;">资产发放</h1>
                    <h2 style="padding:3px;">发料单号：{{item.workOrderNumber}}</h2>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="listConvert!=null&&listConvert.length!=0">
        <ion-card (click)="navTo(item)" *ngFor="let item of listConvert" >
            <ion-card-content>
                <ion-card-title>
                    待完成项
                </ion-card-title>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="./assets/imgs/cvt.png">
                    </ion-thumbnail>
                    <h1 style="padding:3px;">资产领用</h1>
                    <h2 style="padding:3px;">发料单号：{{item.workOrderNumber}}</h2>
                </ion-item>
            </ion-card-content>
        </ion-card>
       
    </div>

    <ion-card *ngIf="badgeValueInv==1" (click)="navToInv()">
        <ion-card-content>
            <ion-card-title>
                待完成项
            </ion-card-title>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="./assets/imgs/inv.png">
                </ion-thumbnail>
                <h1 style="padding:3px;">资产盘点
                </h1>
                <h2 style="padding:3px;">截止时间：{{finishTime}}</h2>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <!-- <img src="http://11.10.97.76/usr/tomcat/apache-tomcat-8.5.11/webapps/eaam-app/upload/dzceshi/2018-2-7-2.png"> -->
</ion-content>


<ion-menu [content]="content">
    <ion-list inset>
        <ion-item no-lines>
            <ion-avatar item-left>
                <img src="./assets/imgs/avatar.png">
            </ion-avatar>
            <h1>{{userName}}</h1>
            <h2>{{wFOAddress}}</h2>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item>
                <ion-icon name="list-box" item-start></ion-icon>
                <label (click)="navToMyAsset(true)">我的资产</label>
        </ion-item>
        <ion-item>
            <ion-icon name="clipboard" item-start></ion-icon>
            <h2 (click)="navToProcess(true)">流程审批</h2>
        </ion-item>
        <ion-item no-lines>
            <!-- <ion-avatar item-left>
                <img class="thumbnail" src="./assets/imgs/synchro.png">
            </ion-avatar> -->
            <ion-icon name="cloud-upload" item-start></ion-icon>
            <label (click)="navToSynchro()">数据同步</label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-icon name="settings" item-start></ion-icon>
            <h2 (click)="setting()">设置服务器地址</h2>
        </ion-item>
        <ion-item>
            <ion-icon name="paper-plane" item-start></ion-icon>
            <h2 (click)="checkAppVersion(true)">版本更新</h2>
        </ion-item>
        <ion-item no-lines>
                <ion-icon name="power" item-start></ion-icon>
                <label (click)="exit()">退出</label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
    </ion-list>
</ion-menu>