page-home {
    .full{
        height: 100%;
        width: 100%;
    }
    .bg-menu{
        background-image: url(./../assets/imgs/bgSide.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 0px 8px #6484fb;
    }
    
    
    .badge{
        // padding:1px 3px;
        margin:0px;
        padding-left:0.4rem;
        padding-right:0.4rem;
        position: absolute;
        right:-0.5rem;
        bottom:15px;
        // border-radius: 50%
    }

    .center{
        text-align: center;
    }
    .center img{
        max-width: 128px;
    }

    //ios端侧边栏专用
    .padding-top{
        padding-top:50px;
    }

     //pad版样式
    //  .background{
    //     background-image: url(./../assets/imgs/background.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
    // .account{
    //     float:right;
    //     color:white;
    //     margin-right:20px;

    // }
    // ion-grid{
    //     height:100%;
    //     // margin:auto;
    // }
    // .grid-content{
    //     width:94%;
    //     height:85%;
    //     position: absolute;
    //     left:2%;
    //     right:2%;
    //     bottom:10px;
    // }
    // .image-set{
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }
    // .image1{
    //     background-image: url(./../assets/imgs/home1.jpg);
    // }
    // .image2{
    //     background-image: url(./../assets/imgs/home2.jpg);
    // }
    // .image3{
    //     background-image: url(./../assets/imgs/home3.jpg);
    // }
    // .opacity{
    //     // opacity: 0.8;
    //     // background-color:rgba(0,0,0,0.2);

    // }
    // .business {
    //     background: #F9CD3D;
    // }
    // .green{
    //     background:#70AC48;
    //     // background-color : rgba(255,255,255,0.5)。
    // }
    // .yellow{
    //     background:#DE9918;
    // }
    // .blue{
    //     background:#4472C7;
    // }
    // .deep-blue{
    //     background:#2F5596;
    // }
    // .orange{
    //     background: #ED7D31;
    // }
    // .purple{
    //     background: #732EA2;
    // }
    // .light-blue{
    //     background: #5A9AD7;
    // }
    // .gray{
    //     background: #A5A5A5;
    // }
    // .cover{
    //     width: 100%;
    //     height:100%;
    // }

    // .center{
    //     position: absolute;
    //     top:0px;
    //     bottom:0px;
    //     left:0px;
    //     right:0px;
    //     margin:auto;
    // }
    // .right-top{
    //     position: absolute;
    //     top:0px;
    //     right:0px;
    // }
    // .icon-content-size{
    //     width: 65px;
    //     height: 65px;
    // }
    // .icon-size{
    //     width: 50px;
    //     height:50px;
    // }
    // .icon-size-large{
    //     width: 60px;
    //     height:60px;
    // }
    // .icon-size-petty{
    //     width: 32px;
    //     height:32px;
    // }

    // .item-title{
    //     color:white;
    //     position:absolute;
    //     left:5%;
    //     bottom:0px;
    // }

    // .item-title-petty{
    //     color:white;
    //     position:absolute;
    //     left:10%;
    //     bottom:0px;
    // }


    // ion-row{
    //     height:33%;
    // }
}