<ion-header>
    <ion-navbar color="title">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>重庆气矿资产辅助管理系统</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="download()">
                <ion-icon name="cloud-download" style="font-size:40px"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content style="background-color:#F7F6F6" #content>
    <button ion-button (click)="test()">测试</button>
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col col-3 id="nav_col" (click)="navToMyAsset()">

                    <img src="./assets/imgs/myAsset.png" />
                    <h2 style="margin-top:10px;">我的资产</h2>
                </ion-col>
                <ion-col col-3 id="nav_col" (click)="navToSynchro()">
                    <img src="./assets/imgs/synchro1.png" />
                    <h2 style="margin-top:10px;">数据同步</h2>
                </ion-col>
                <ion-col col-3 id="nav_col" (click)="navToCvt()">
                    <img src="./assets/imgs/cvt.png" />
                    <h2 style="margin-top:10px;">资产领用
                        <sup>
                            <ion-badge color="danger" *ngIf="badgeValueCvt!=null&&badgeValueCvt!=0">{{badgeValueCvt}}</ion-badge>
                            <ion-badge color="danger" *ngIf="isGranting">1</ion-badge>
                        </sup>
                    </h2>
                </ion-col>
                <ion-col col-3 id="nav_col" (click)="navToInv()">
                    <img src="./assets/imgs/inv.png" />
                    <h2 style="margin-top:10px;">资产盘点
                        <sup>
                            <ion-badge color="danger" *ngIf="badgeValueInv!=null&&badgeValueInv!=0">{{badgeValueInv}}</ion-badge>
                        </sup>
                    </h2>
                </ion-col>
                <!-- <ion-col col-3 id="nav_col" (click)="exit()">
                    <img src="./assets/imgs/exit.png" />
                    <h2 style="margin-top:10px;">退出</h2>
                </ion-col> -->
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isSynchro" (click)="handleCvtSynchro()">
            <ion-card-content>
                <ion-card-title>
                    待完成项
                </ion-card-title>
                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="./assets/imgs/synchro1.png">
                    </ion-thumbnail>
                    <h1 style="padding:3px;">同步转产数据
                    </h1>
                </ion-item>
            </ion-card-content>
        </ion-card>
    
    <ion-card *ngIf="isGranting" (click)="navToCvt()">
        <ion-card-content>
            <ion-card-title>
                待完成项
            </ion-card-title>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="./assets/imgs/cvt.png">
                </ion-thumbnail>
                <h1 style="padding:3px;">资产发放
                </h1>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="badgeValueCvt==1" (click)="navToCvt()">
        <ion-card-content>
            <ion-card-title>
                待完成项
            </ion-card-title>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="./assets/imgs/cvt.png">
                </ion-thumbnail>
                <h1 style="padding:3px;">资产领用
                </h1>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="badgeValueInv==1" (click)="navToInv()">
        <ion-card-content>
            <ion-card-title>
                待完成项
            </ion-card-title>
            <ion-item>
                <ion-thumbnail item-start>
                    <img src="./assets/imgs/inv.png">
                </ion-thumbnail>
                <h1 style="padding:3px;">资产盘点
                </h1>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <!-- <div id="right">
        <div id="right_top">
            <div id="trans" (click)="navToTrans()">
                <img src="./assets/imgs/trans.png">
                <p>资产领用
                    <sup><ion-badge color="danger" *ngIf="badgeValueTrans!=0&&badgeValueTrans!=null">{{badgeValueTrans}}</ion-badge></sup>
                </p>
            </div>
            <div id="inv" (click)="navToInv()">
                <img src="./assets/imgs/inv.png">
                <p>资产盘点
                    <sup><ion-badge color="danger" *ngIf="badgeValueInv!=0&&badgeValueInv!=null">{{badgeValueInv}}</ion-badge></sup>
                </p>
            </div>
        </div>

    </div> -->

</ion-content>


<ion-menu [content]="content">

    <ion-grid id="grid">
        <ion-row id="left_top">
            <ion-col col-5 id="col_avatar">
                <!--由于页面最终是要加载到index里面的所以路径如下，否则打包后会无法显示  -->
                <img id="avatar" src="./assets/imgs/avatar.png" />
            </ion-col>
            <ion-col colr-7 id="col_user">
                <h3 id="user_unit">{{wFOAddress}}</h3>
                <h4 id="user_name">{{userName}}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <hr id="divider" />
        </ion-row>

        <ion-row id="left_buttons">
            <button id="left_bottom_button" ion-button (click)="navToMyAsset()">
                <img src="./assets/imgs/myAsset.png"> 我的资产
            </button>
        </ion-row>

        <ion-row id="left_buttons">
            <button id="left_bottom_button" ion-button (click)="navToProcess()">
                <img src="./assets/imgs/process.png"> 流程审批
            </button>
        </ion-row>
        <ion-row id="left_buttons">
            <button id="left_bottom_button" ion-button (click)="navToSynchro()">
                <img src="./assets/imgs/synchro.png"> 数据同步
            </button>
        </ion-row>
        <ion-row id="left_buttons">
            <button id="left_bottom_button" ion-button (click)="exit()">退出</button>
        </ion-row>

    </ion-grid>
</ion-menu>