page-home {
    #content {
        background-image: url(./../assets/imgs/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #left {
        background-image: url(./../assets/imgs/bgSide.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 25%;
        height: 100%;
        float: left;
        box-shadow: 2px 0px 8px #6484fb;
    }
    #grid {
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;
        background-image: url(./../assets/imgs/bgSide.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 0px 8px #6484fb;
    }
    #left_top {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 25%;
    }
    #col_avatar {
        vertical-align: middle;
        text-align: right;
        height: 100%;
    }
    #avatar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 70%;
        margin: auto;
    }
    #col_user {
        //display: table-cell;
        vertical-align: middle;
        text-align: left;
        height: 100%;
        // padding-left: 2%;
        color: white;
    }
    #user_unit {
        position: absolute;
        left: 4%;
        bottom: 55%;
        margin: 0px;
        font-size: 2rem;
    }
    #user_name {
        position: absolute;
        left: 4%;
        top: 55%;
        margin: 0px;
        font-size: 1.5rem;
    }
    #divider {
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: none;
        border-top: 2px solid white;
    }
    #left_buttons {
        margin-top: 8%;
        width: 100%;
        height: 10%;
        text-align: center;
    }
    #left_bottom_button {
        background-color: #f5f6f6;
        color: #6484fb;
        border-radius: 10px;
        width: 80%;
        height: 100%;
        margin-left: 10%;
        font-size: 2rem;
    }
    #left_bottom_button img {
        height: 60%;
        margin-right: 6%;
    }
    #right {
        float: right;
        width: 75%;
        height: 100%;
    }
    #right_top {
        float: left;
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
    #trans {
        margin-left: 10%;
        float: left;
        width: 40%;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-image: url(./../assets/imgs/bgTrans.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #trans img {
        width: 30%;
    }
    #trans p {
        font-size: 1.8rem;
        margin-bottom: 0px;
        margin-top: 4%;
    }
    #inv {
        float: left;
        width: 40%;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-image: url(./../assets/imgs/bgInv.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #inv img {
        width: 30%;
    }
    #inv p {
        font-size: 1.8rem;
        margin-bottom: 0px;
        margin-top: 4%;
    }
    #nav_col{
        text-align: center;
    }
    #nav_col img{
        max-width: 128px;
    }

     //pad版样式
    //  .background{
    //     background-image: url(./../assets/imgs/background.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
    // .account{
    //     float:right;
    //     color:white;
    //     margin-right:20px;

    // }
    // ion-grid{
    //     height:100%;
    //     // margin:auto;
    // }
    // .grid-content{
    //     width:94%;
    //     height:85%;
    //     position: absolute;
    //     left:2%;
    //     right:2%;
    //     bottom:10px;
    // }
    // .image-set{
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }
    // .image1{
    //     background-image: url(./../assets/imgs/home1.jpg);
    // }
    // .image2{
    //     background-image: url(./../assets/imgs/home2.jpg);
    // }
    // .image3{
    //     background-image: url(./../assets/imgs/home3.jpg);
    // }
    // .opacity{
    //     // opacity: 0.8;
    //     // background-color:rgba(0,0,0,0.2);

    // }
    // .business {
    //     background: #F9CD3D;
    // }
    // .green{
    //     background:#70AC48;
    //     // background-color : rgba(255,255,255,0.5)。
    // }
    // .yellow{
    //     background:#DE9918;
    // }
    // .blue{
    //     background:#4472C7;
    // }
    // .deep-blue{
    //     background:#2F5596;
    // }
    // .orange{
    //     background: #ED7D31;
    // }
    // .purple{
    //     background: #732EA2;
    // }
    // .light-blue{
    //     background: #5A9AD7;
    // }
    // .gray{
    //     background: #A5A5A5;
    // }
    // .cover{
    //     width: 100%;
    //     height:100%;
    // }

    // .center{
    //     position: absolute;
    //     top:0px;
    //     bottom:0px;
    //     left:0px;
    //     right:0px;
    //     margin:auto;
    // }
    // .right-top{
    //     position: absolute;
    //     top:0px;
    //     right:0px;
    // }
    // .icon-content-size{
    //     width: 65px;
    //     height: 65px;
    // }
    // .icon-size{
    //     width: 50px;
    //     height:50px;
    // }
    // .icon-size-large{
    //     width: 60px;
    //     height:60px;
    // }
    // .icon-size-petty{
    //     width: 32px;
    //     height:32px;
    // }

    // .item-title{
    //     color:white;
    //     position:absolute;
    //     left:5%;
    //     bottom:0px;
    // }

    // .item-title-petty{
    //     color:white;
    //     position:absolute;
    //     left:10%;
    //     bottom:0px;
    // }


    // ion-row{
    //     height:33%;
    // }
}