<ion-header>
    <ion-navbar color="theme">
        <ion-title class="border-left-white">资产领用通知单</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="bg-content">
    
    <ion-list class="padding-top" *ngIf="listConvert!=null&&listConvert.length!=0">
        <ion-item-divider>
                <h2>资产领用列表</h2>
        </ion-item-divider>
        <ion-item *ngFor="let item of listConvert" (click)="navTo(item)">
            <ion-label>
                <h1>资产领用</h1>
                <h4>发料单号：{{item.workOrderNumber}}</h4>
            </ion-label>
            <ion-icon name="ios-arrow-dropright" item-end></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list class="padding-top" *ngIf="listGranting!=null&&listGranting.length!=0">
            <ion-item-divider>
                <h2>资产发放列表</h2>
            </ion-item-divider>
            <ion-item *ngFor="let item of listGranting" (click)="navTo(item)">
                <ion-label>
                    <h1>资产发放</h1>
                    <h4>发料单号：{{item.workOrderNumber}}</h4>
                </ion-label>
                <ion-icon name="ios-arrow-dropright" item-end></ion-icon>
            </ion-item>
        </ion-list>


</ion-content>