// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../assets/animate/animate.scss";
.fadeInDown{
  @include fadeInDown();
}

//弹出框样式
.alert-conform{
    .alert-wrapper{
        border-radius: 10px;
    }
    .alert-head{
        padding:0px 15px 0px 15px !important;
        text-align: center;
    }
    .alert-title{
        // text-align: center;
        padding-top:15px;
        padding-bottom:15px;
        border-bottom:3px solid #eee;
    }
    .alert-sub-title{
        padding-top:20px;
        padding-bottom:30px;
        font-size:2rem;
    }
    .alert-message{
        padding-bottom: 10px !important;
    }
    .alert-button-group{
        border-top: 2px solid #eee;
        justify-content: center !important;
        padding-left:0px;
        padding-right: 0px;


    }
    .alert-button{
        width:50%;
        font-size: 2rem;
        padding-right:15%;
        padding-left: 0px;
        margin:0 auto;
        border-right:2px solid #eee;
    }
}


.alert-alert{
    .alert-wrapper{
        border-radius: 10px;
    }
    .alert-head{
        padding:0px 15px 0px 15px !important;
        text-align: center;
    }
    .alert-title{
        // text-align: center;
        padding-top:15px;
        padding-bottom:15px;
        border-bottom:3px solid #eee;
    }
    .alert-sub-title{
        padding-top:20px;
        padding-bottom:30px;
        font-size:2rem;
    }
    .alert-message{
        padding-bottom: 10px !important;
    }
    .alert-button-group{
        border-top: 2px solid #eee;
        justify-content: center !important;
        padding-left:0px;
        padding-right: 0px;
    }
    .alert-button{
        width:100%;
        font-size: 2rem;
        padding-right:40%;
        padding-left: 0px;
        margin:0 auto;
    }



}


.border-left-white {
    border-left: 1px solid white;
}
//标题栏右侧图标使用
.border-radius {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.btn-submit {
    font-size: 1.7rem;
    margin-right: 15px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.bg-content{
    // background-color:#F7F6F6;
    background-color:#EEEFF4;
}



.item-head{
    font-size: $font-size-item-head;
    color: #9A9A9A;
    font-weight: bold;
}
.item-body{
    font-size: $font-size-item-body;
    color:#000;
    padding-right: 2%;
    // text-align: right;
    // display:block;                     /*内联对象需加*/
    word-break:keep-all;           /* 不换行 */
    white-space:nowrap;        /* 不换行 */
    overflow:hidden;           /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;    /*溢出时显示省略标记...；需与overflow:hidden;一起使用*/
}
.default{
    color: #9A9A9A;
}
.input{
    border-style: none;
    background-color: #fff;
    width: 50%;
}

.input-reason {
    resize:none;
    margin-left: 5%;
    padding: 5px;
    margin-top: 15px;
    border-style: none;
    border: 1px solid #9A9A9A;
    background-color: #fff;
    font-size: 1.8rem;
    width: 90%;
}













