<ion-header>
  <ion-navbar color="theme">
    <ion-title class="border-left-white">资产闲置</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-content">
  <ion-list>
      <ion-item>
          <p class="item-head">现存放地点：</p>
          <input item-end class="item-body default input" [(ngModel)]="idle.installLocation" type="text" placeholder="存放地点">
      </ion-item>
      <ion-item>
          <p class="item-head">鉴定结果：</p>
          <div>
              <textarea class="input-reason" [(ngModel)]="idle.testResult" rows="3"></textarea>
          </div>
      </ion-item>
      <ion-item>
          <p class="item-head">停用原因及目前保护措施：</p>
          <div>
              <textarea class="input-reason" [(ngModel)]="idle.stopReason" rows="3"></textarea>
          </div>
      </ion-item>
      <ion-item>
          <p class="item-head">资产现状描述：</p>
          <div>
              <textarea class="input-reason" [(ngModel)]="idle.assetDesc" rows="3"></textarea>
          </div>
      </ion-item>
      <ion-item>
          <p class="item-head">上传图片({{photoBase64s.length}}/3)：</p>
          <ion-row>
              <ion-col col-4 class="img-content" *ngFor="let item of photoBase64s;let i=index">
                  <img  class="imgs-item" [src]="item" (click)="isDeleteImg(i)" />
              </ion-col>
              <ion-col col-4 class="img-content" *ngIf="photoBase64s.length<3" style="border: 1px dashed #9C9C9C;">
                  <img class="imgs-add" (click)="add()" src="./assets/imgs/add.png" />
              </ion-col>
          </ion-row>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-buttons start >
    <button ion-button block (click)="handleSubmit()" color="theme">
      提交
    </button>
  </ion-buttons>
</ion-footer>
