<ion-header>
  <ion-navbar color="theme">
    <ion-title class="border-left-white">流程办理</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-content">
  <ion-list>
    <ion-item>
      <ion-label class="item-head">审核结果：</ion-label>
      <ion-select class="item-body" [(ngModel)]="workflowBean.outcome" placeholder="选择" interface="popover">
        <ion-option value="同意">同意</ion-option>
        <ion-option value="驳回">驳回</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="workflowBean.outcome=='同意'">
      <!-- <div *ngIf="nextStepInfos.length==0">
          <ion-item style="margin-top:20px">
              <ion-label class="item-head">下一步骤：</ion-label>
              <p item-end class="item-body">流程结束</p>
            </ion-item>
      </div> -->
      <div *ngFor="let nextStep of nextStepInfos;let i=index">
        <ion-item style="margin-top:20px">
          <ion-label class="item-head">下一步骤：</ion-label>
          <p *ngIf="nextStep.nextStepName!=''&&nextStep.nextStepName!=undefined" item-end class="item-body">{{nextStep.nextStepName}}</p>
          <p *ngIf="nextStep.nextStepName==''||nextStep.nextStepName==undefined" item-end class="item-body">完成</p>
        </ion-item>
        
        <ion-item *ngIf="nextStep.nextStepApprovers.length>1">
          <ion-label class="item-head">下一步审批人：</ion-label>
          <ion-select class="item-body" placeholder="选择" interface="popover">
            <ion-option *ngFor="let nextStepApprover of nextStep.nextStepApprovers" (ionSelect)="selectOptions(nextStepApprover.processInstanceId,nextStep.nodeId)">{{nextStepApprover.approverName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="nextStep.nextStepApprovers.length==1">
          <ion-label class="item-head">下一审批人：</ion-label>
          <p class="item-body" item-end>{{nextStep.nextStepApprovers[0].approverName}}</p>
        </ion-item>
      </div>

      <!-- <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col class="item-head center" col-6>
              下一步骤
            </ion-col>
            <ion-col class="item-head center" col-6>
              下一步审批人
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let nextStep of nextStepInfos;let i=index">
            <ion-col col-6 class="center">
              <p *ngIf="nextStep.nextStepName!=''&&nextStep.nextStepName!=undefined" class="center no-padding item-body">{{nextStep.nextStepName}}</p>
              <p *ngIf="nextStep.nextStepName==''||nextStep.nextStepName==undefined" class="center no-padding item-body">完成</p>
            </ion-col>
            <ion-col col-5 offset-1>
              <div *ngIf="nextStep.nextStepApprovers.length>1">
                <ion-select class="item-body no-padding" placeholder="选择" interface="popover">
                  <ion-option *ngFor="let nextStepApprover of nextStep.nextStepApprovers" (ionSelect)="selectOptions(nextStepApprover.processInstanceId,nextStep.nodeId)">{{nextStepApprover.approverName}}</ion-option>
                </ion-select>
              </div>
              <div *ngIf="nextStep.nextStepApprovers.length==1">
                <p class="center no-padding item-body">{{nextStep.nextStepApprovers[0].approverName}}</p>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card> -->
    </div>
    <!-- 驳回的情况，需要选择驳回到上一级还是申请人 -->
    <ion-item *ngIf="workflowBean.outcome=='驳回'">
      <ion-label class="item-head">驳回到：</ion-label>
      <ion-select class="item-body" [(ngModel)]="workflowBean.rejectTo" placeholder="选择" interface="popover">
        <ion-option value="APPLICATE">流程开始</ion-option>
        <ion-option value="PREVIOUS">上一步</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p class="item-head">审核意见：</p>
      <div>
        <textarea class="input-reason" rows="3" [(ngModel)]="workflowBean.comment"></textarea>
      </div>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-buttons start>
    <button ion-button block (click)="handleSubmit()" color="theme">
      提交
    </button>
  </ion-buttons>
</ion-footer>