<!--
  Generated template for the ProcessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="theme">
    <ion-title class="border-left-white">待办流程</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-content">
  <div *ngIf="hasData">

    <!-- <ion-list>
      <ion-item *ngFor="let item of todoEventList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2 *ngIf="item.eventName!=undefined&&item.eventName!=''">{{item.eventName}}</h2>
            <h2 *ngIf="item.eventName==undefined||item.eventName==''">未命名审批名称</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list> -->

    <ion-list *ngIf="convertList.length>0">
      <ion-item-divider>
        非安设备转产-发放通知单
      </ion-item-divider>
      <ion-item *ngFor="let item of convertList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-5 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-3 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="checkList.length>0">
      <ion-item-divider>
        非安设备转产-资产验收单
      </ion-item-divider>
      <ion-item *ngFor="let item of checkList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-5 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-3 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="allocateList.length>0">
      <ion-item-divider>
        资产调拨审批
      </ion-item-divider>
      <ion-item *ngFor="let item of allocateList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="idleList.length>0">
      <ion-item-divider>
        资产闲置认定
      </ion-item-divider>
      <ion-item *ngFor="let item of idleList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="scrapList.length>0">
      <ion-item-divider>
        资产报废申请
      </ion-item-divider>
      <ion-item *ngFor="let item of scrapList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="handleIdleList.length>0">
      <ion-item-divider>
        闲置资产处置
      </ion-item-divider>
      <ion-item *ngFor="let item of handleIdleList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="handleScrapList.length>0">
      <ion-item-divider>
        报废资产处置
      </ion-item-divider>
      <ion-item *ngFor="let item of handleScrapList;let i=index" (click)="handleDetail(item)">
        <ion-row>
          <ion-col col-12>
            <h2>{{item.eventName}}</h2>
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventType}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventPerson}}
          </ion-col>
          <ion-col col-4 class="center">
            {{item.eventDate}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </div>
  <div class="no-data center-absolute" *ngIf="!hasData">
    <!-- <img class="no-data-img" src="./assets/imgs/cry.png"> -->
    <h2>{{errorMessage}}</h2>
  </div>

</ion-content>