page-test1 {
    .scan-bg{
        height: 100%;
        width: 100%;
        background-color:#2486D6;
        // background-image: url(./../assets/gif/timg.gif);
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    .icon-back{
        font-size:3rem;
        margin-top:10px;
        margin-left:10px;
        color:#fff;
    }

    .img-center{
        height:300px;
        position: absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        margin:auto;
    }
}