page-mine {
    #list-item-head {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    #list-item-bottom {
        font-size: 12px;
        font-weight: 200;
        margin-top: 5px;
    }
    #content {
        background: #ECECEC;
    }
    #list_rows {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}