<ion-header>
    <ion-navbar color="theme">
        <ion-title class="border-left-white">资产盘点</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="doSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="full" class="bg-content">
    <!-- 搜索框 -->
    <ion-toolbar color="theme" [hidden]="judge">
        <ion-searchbar placeholder="搜索" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
    
    <ion-card>
        <ion-card-header style="padding-top:0px;padding-bottom:0px;">
            <ion-item style="padding-left:0px;">
                <ion-card-title>
                    {{invNotice.title}}
                </ion-card-title>
                <h2 *ngIf="!isShow"> 截止时间：{{finishTime}}</h2>
                <ion-icon name="ios-arrow-dropdown" item-end *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
                <ion-icon name="ios-arrow-dropup" item-end *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="isShow">
            <ion-row>
                <ion-col col-4>
                    <h2 class="card-th">内容：</h2>
                </ion-col>
                <ion-col col-8>
                    <h2>{{invNotice.content}}</h2>
                </ion-col>
                <ion-col col-4>
                    <h2  class="card-th">开始时间：</h2>
                </ion-col>
                <ion-col col-8>
                    <h2>{{startTime}}</h2>
                </ion-col>
                <ion-col col-4>
                    <h2 class="card-th">截止时间：</h2>
                </ion-col>
                <ion-col col-8>
                    <h2>{{finishTime}}</h2>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>

    <ion-list *ngIf="dataTable.length!=null&&dataTable.length>0">

        <ion-item *ngFor="let item of dataTable;let i = index">
            <ion-label>
                    <h2 *ngIf="item.selfNumber==''||item.selfNumber==undefined">{{item.assetName}} </h2>
                    <h2 *ngIf="item.selfNumber!=''&&item.selfNumber!=undefined">{{item.assetName}} [{{item.selfNumber}}] </h2>
                <h4 class="sub-title">规格型号：{{item.specModel}}</h4>
                <h4 class="sub-title">资产编码：{{item.assetCode}}</h4>
            </ion-label>

            <i *ngIf="item.twoDimensionCode==''||item.twoDimensionCode==null" style="color:rgb(231, 238, 238);font-size:30px;" item-end class="iconfont icon-erweima"></i>
            <i *ngIf="item.twoDimensionCode!='' && item.twoDimensionCode!=null" style="color:rgb(65, 126, 240);font-size:30px;" item-end class="iconfont icon-erweima"></i>
            <!-- <img *ngIf="item.twoDimensionCode==''||item.twoDimensionCode==null" item-end src="./assets/imgs/two_1.png" style="height:20px;"
            />
            <img *ngIf="item.twoDimensionCode!='' && item.twoDimensionCode!=null" item-end src="./assets/imgs/two_blue.png" style="height:20px;"
            /> -->
            <button ion-button item-end (click)="scan(item,i)" *ngIf="item.isChecked==null||item.isChecked==0||item.isChecked==''" color="danger">盘点</button>
            <button ion-button item-end (click)="scan(item,i)" *ngIf="item.isChecked==1">待签字</button>
            <ion-icon (click)="reScan(item,i)" *ngIf="item.isChecked==2" item-end name="checkmark"></ion-icon>

        </ion-item>

        <!-- 底部刷新  -->
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="80px" style="background-color:transparent">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="数据加载中...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>
    <div class="no-data center" *ngIf="dataTable.length==null||dataTable.length==0">
        <img class="no-data-img" src="./assets/imgs/cry.png">
        <h4 style="color:#afb2bd">没有资产数据</h4>
    </div>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)" threshold="80px">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles" refreshingText="玩儿命加载中...">
        </ion-refresher-content>
    </ion-refresher> -->


    <ion-fab bottom right #fab>
        <button ion-fab  color="theme">
            <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab Large class="fab-control" (click)="signature(fab)"><i class="qk-icon iconfont icon-dianziqianmingx"></i></button>
            <button ion-fab Large class="fab-control" (click)="scanTwoDimensionCode(fab)"><i class="qk-icon iconfont icon-scan"></i></button>
            <button ion-fab Large class="fab-control fab-rfid" (click)="scanRFID(fab)">RFID</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>