page-inventory {
    .full{
        height: 100%;
        width: 100%;
    }
    .sub-title{
        font-weight: 400;
        margin-top: 3px;
        color:#9A9A9A;
        margin-left:10px;
    }
    .card-th{
        text-align: right;
        padding-right:10px;
    }
    .no-data{
        text-align: center;
        height:300px;
        width: 300px;
    }
    .no-data-img{
        height: 120px;
        width:120px;
    }
    .center{
        position: absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        margin:auto;
    }
    
    .qk-icon{
        font-size: 30px;
        color:$theme-color;
    }
    .fab-rfid {
        font-size:16px;
        color:$theme-color;
    }
    .fab-control{
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}