page-inventory {
    .full{
        height: 100%;
        width: 100%;
    }
    .sub-title{
        font-weight: 400;
        margin-top: 3px;
        color:#9A9A9A;
    }
    .card-th{
        text-align: right;
        padding-right:10px;
    }
    .no-data{
        text-align: center;
        height:300px;
        width: 300px;
    }
    .no-data-img{
        height: 120px;
        width:120px;
    }
    .center{
        position: absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        margin:auto;
    }
    
    .fab-two {
        background-image: url(./../assets/imgs/scan.png);
    }
    .fab-rfid {
        background-image: url(./../assets/imgs/RFID_2.png);
    }
    .fab-signature {
        background-image: url(./../assets/imgs/signature.png);
    }
    .fab-control{
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}