page-granting {
    #title {
        border-left: 1px solid white;
    }
    #btn_submit {
        font-size: 1.7rem;
        margin-right: 10%;
        border: 1px solid white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .bold{
        font-weight: bold;
    }
}
